<!-- *** START PAGE MAIN CONTENT *** -->
<main class="page_main_wrapper">
    <div class="container">
        <div class="row row-m">
            <!-- START MAIN CONTENT -->
            <div class="col-sm-8 col-p  main-content">
                <div class="theiaStickySidebar">
                    <div class="post_details_inner">
                        <div class="post_details_block details_block2">
                            <div class="post-header">
                                <ul class="td-category">
                                    <li><a class="post-category" href="#/Listing">{{ObjectView.CatTitle}}</a></li>
                                </ul>
                                <h2>{{ObjectView.Title}}</h2>
                                <ul class="authar-info">
                                    <li>{{ObjectView.Cdate}}</li>
                                </ul>
                            </div>
                            <figure class="social-icon">
                                <img src="{{'Images/' + ObjectView.Photo}}" class="img-responsive" alt="" />
                                <div>
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                    <a href="#" class="hidden-xs"><i class="fa fa-linkedin"></i></a>
                                    <a href="#" class="hidden-xs"><i class="fa fa-pinterest-p"></i></a>
                                </div>
                            </figure>
                            <p style="white-space: pre-line; margin-top: -30px">
                                {{ObjectView.ItemContent}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END OF /. MAIN CONTENT -->
            <!-- START SIDE CONTENT -->
            <div class="col-sm-4 col-p leftSidebar" style="margin-top:20px">
                <div class="theiaStickySidebar">
                    <!-- START SOCIAL ICON -->
                    <div class="social-media-inner">
                        <ul class="social-media clearfix">
                            <li>
                                <a href="#" class="rss">
                                    <i class="fa fa-rss"></i>
                                    <div>2,035</div>
                                    <p>Subscribers</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="fb">
                                    <i class="fa fa-facebook"></i>
                                    <div>3,794</div>
                                    <p>Fans</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="g_plus">
                                    <i class="fa fa-google-plus"></i>
                                    <div>941</div>
                                    <p>Followers</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="you_tube">
                                    <i class="fa fa-youtube-play"></i>
                                    <div>7,820</div>
                                    <p>Subscribers</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="twitter">
                                    <i class="fa fa-twitter"></i>
                                    <div>1,562</div>
                                    <p>Followers</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="pint">
                                    <i class="fa fa-pinterest"></i>
                                    <div>1,310</div>
                                    <p>Followers</p>
                                </a>
                            </li>
                        </ul> <!-- /.social icon -->
                    </div>
                    <!-- END OF /. SOCIAL ICON -->
                    <!-- START LATEST REVIEWS -->
                    <div class="panel_inner review-inner">
                        <div class="panel_header">
                            <h4><strong>الأخبار الأكثر شهرة</strong></h4>
                        </div>
                        <div class="panel_body">
                            <div class="more-post">
                                <a href="" ng-click="ChangeRoute('Details',PopularTop[0].CategoryID,PopularTop[0].ID)" class="news-image"><img ng-src="{{'Images/' + PopularTop[0].Photo}}" width="340" height="215" alt="" class="img-responsive"></a>
                                <div class="reatting">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-o"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                                <div class="post-text">
                                    <span class="post-category">{{PopularTop[0].CatTitle}}</span>
                                    <h4>{{PopularTop[0].Title}}</h4>
                                    <ul class="authar-info">
                                        <li><i class="ti-timer"></i>{{PopularTop[0].Cdate}}</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="news-list">
                                <div class="news-list-item" ng-repeat="x in PopularBottom">
                                    <div class="img-wrapper">
                                        <a href="" ng-click="ChangeRoute('Details',x.CategoryID,x.ID)" class="thumb">
                                            <img ng-src="{{'Images/' + x.Photo}}" width="115" height="85" alt="" class="img-responsive">
                                            <div class="link-icon">
                                                <i class="fa fa-camera"></i>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="post-info-2">
                                        <h5><a href="" ng-click="ChangeRoute('Details',x.CategoryID,x.ID)" class="title">{{x.Title}}</a></h5>
                                        <div class="reviews-reatting">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-half-o"></i>
                                            <i class="fa fa-star-o"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END OF /. LATEST REVIEWS -->
                </div>
            </div>
            <!-- END OF /. SIDE CONTENT -->
        </div>
    </div>
</main>
<!-- *** END OF /. PAGE MAIN CONTENT *** -->
